asgiref==3.2.7
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
dnspython==1.16.0
gunicorn==20.0.4
idna==2.7
image-quality==1.2.5
imageio==2.8.0
jwcrypto==1.4
kiwisolver==1.2.0
libsvm==3.23.0.4
matplotlib==3.2.1
networkx==2.4
numpy==1.18.5
Pillow==7.1.2
PyAudio==0.2.11
pycparser==2.20
PyJWT==1.7.1
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
requests==2.20.1
scikit-image==0.17.2
scipy==1.5.0
six==1.15.0
SpeechRecognition==3.8.1
sqlparse==0.3.1
tifffile==2020.6.3
urllib3==1.24.3
whitenoise==5.1.0
